<h1> New Article View</h1>
<%= form_for :article , url: articles_path do |f| %>
	<p> 
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	</p>

	<p>
	<%= f.label :text %><br>
	<%= f.text_area :text %>
	</p>

	<p> 
	<%= f.submit %>
	</p>

	<%end%>

	<!-- after submitted form , we need render this form in the related controller -->

	<%= link_to 'Back' ,welcome_index_path %>	